body {
    display: block;
    margin: 8px;
    background-color: black;
    color: white;
    font-family: Arial;
}

.headline {
    font-size: 30px;
    font-weight: bold;
}

.play {

    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 3px solid white;
    background-color: black;
    color: white;
    margin-right: 10px;
    margin-bottom: 25px;
    font-size: 50px;

}

.reset-button {

    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;

}

.js-result {
    font-size: 24px;
    font-weight: bold;

}

.move-icon {
    width: 25px;
    height: 25px;
}
